<br>

<%= link_to "Create Product", new_product_path%>
<br><br><h2>All Products</h2><br><% @products.each do |product|%>
<p><strong> Product Name:</strong> <%= product.name %></p>

<%= link_to "Detail", product%>
<%= button_to "Delete",product, method: :delete%>

<% end %>
