<p><strong> Product Name:</strong> <%= @product.name %></p>
<p><strong>Description:</strong> <%= @product.description %></p>
<p> <strong> Price:</strong> <%= @product.price %></p>
<%= link_to "All Recipes", products_path %>
